[submodule "zkRingSig/lib/forge-std"]
	path = zkRingSig/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "zkRingSig/lib/openzeppelin-contracts"]
	path = zkRingSig/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
